:root {
  --background-color-dark: #3c290c;
  --primary-button: #795c1a;
  --primary-button-hover: #b79d17;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-color-dark);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--background-color-dark) !important;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.form-login-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.close-button-modal{
  width: 50%;
  background-color: transparent;
  color: black;
  cursor: pointer;
  font-size: 2rem;
  margin-left: 85% ;
}
.row-buttons {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  flex-wrap: nowrap;
}

button {
  width: 100%;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-button);
  cursor: pointer;
  transition: border-color 0.25s;
}

.rounded-button {
  background-color: var(--primary-button) !important ;
  border-radius: 8px !important;
  border: 1px solid transparent !important;
}
.modal .modal-header {
  padding: 0;
}
.button-modal-close{
  background-color: var(--primary-button-hover) !important;
}
.align-items-space-between{
  display: flex !important;
  justify-content: space-around !important;
}
button:hover {
  border-color: var(--primary-button-hover);
}

button:focus {
  outline: 4px auto -webkit-focus-ring-color;
}

.form-section {
  width: 90%;
  margin: 0 auto;
}

.form-section>input {
  width: 100%;
  margin-top: 20px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid transparent;
}

.form-section>input:hover {
  border-radius: 8px;
  border: 1px solid #eaeb59;
}

.button-login {
  margin-top: 20px;
}

.button-google {
  width: 50% !important;
  margin-top: 20px;
}

.footer-buttons-social-media {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

.card {
  background-color: inherit;
  border-radius: 10px;
  width: 80%;
  margin: 40px auto;
  max-height: 250px;
  height: 100%;
  padding: 10px;
}

.card-avalible-amount {
  box-shadow: 14px 11px 23px -7px rgba(255, 255, 255, 0.77);
  -webkit-box-shadow: 14px 11px 23px -7px rgba(255, 255, 255, 0.77);
  -moz-box-shadow: 14px 11px 23px -7px rgba(255, 255, 255, 0.77);
}

.card-body {
  display: flex;
  justify-content: space-around;
}

.card-title {
  display: flex;
  justify-content: space-between;
}
.card-title > p {
  margin-bottom: 0;
  font-size: 22px;
}

.card-amount {
  font-size: 22px;
}

.login-title {
  font-size: 2.5rem;
  font-weight: 600;
  color:white;
  text-align: center;
}

.list-card-items{
  padding: 0;
  margin: 15px auto;
}

.action-button-add-item{
  border-radius: 50%;
  width: 70px;
  height: 70px;
  font-size: 26px;
  position: fixed;
  top: calc( 100vh - 100px );
  right: 50px;
}

.card-body-amount{
  display: flex;
  justify-content: space-between !important;
}
.date-picker {
  width: 100%;
  background-color: white;
  color: black;
  appearance: none;
  border-radius: 0.37rem;
  line-height: 1.5;
  background-clip: padding-box;
}

.main-title {
  color: white;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
}

.margin-top-5{
  margin-top: 5px;
}

.color-black-title {
  color: black;
}

@media (max-width: 470px) {
    .card-body{
      display: block;
      padding: 5px !important;
    }
}